body {
    background: #E2DFD2;
    font-family: Helvetica, Arial, sans-serif;
    text-align: justify;
    border: 1px solid black;
    border-width: medium;
    padding: 20px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
    margin-right: 40px;
  }